.mainLayout {
    width: 1012px;
    height: 657px;
    margin: 0px auto;
    position: relative;
}
body {
    width : 1012px;
    height : 657px;
    margin : 0 auto;
}
.floatLeft {
    float: left;
}
.close {
    margin-left: 28px;
    margin-top: -41px;
    position: relative;
}
.print {
    margin-left: 868px;
    margin-top: -40px;
    position: relative;
}
input:focus{
    /*border:2px solid red !important;*/
}
.focus{
    border: 2px solid transparent;
    background-repeat: no-repeat;
}