.mainBoard {
    background-image: url("../../img/Slide_45/slide_45.png");
    width: 1012px;
    height: 657px;
    margin: 0px auto;
    position: relative;
}
.panelLeft {
    height: 443px;
width: 606px;
}
.floatLeft {
    float: left;
}
.panelRight {
height: 446px;
width: 345px;
	
}
.pageNameContainer{
	
}
ul{
	margin-left:-28px;
}

ul li{
	margin-bottom: 15px;
}
.para1,.para2,para3,.para4,.para5{
	margin-bottom: 10px;
}
.img1 {
    margin-top: -2px;
cursor: default;
margin-left: 92px;
}
.continue_btn {
   
}

/*.static_img {
    background-image: url("../../img/GUI/static.png");
    background-repeat: no-repeat;
    height: 501px;
    margin-left: 0px;
    width: 1001px;
	margin-top: 0px;
}*/
/* .overview_icon{
	background-image: url("../../img/SCT/static/overview_icon.png");
    background-repeat: no-repeat;
    height: 352px;
    margin-left: 23px;
    width: 293px;
	margin-top: 83px;
} */

.para7 {
    float: left;
}